@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$sidebar: #f7f9fa;
$border: #ebebeb;
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: black;
  text-decoration: none;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.col {
  order: 2;
}

.col:last-child { order: 2; }

.content {
  width: 55%;
  border: solid $border;
  border-width: 0 1px 0 1px;
  box-shadow: 20px 0 20px -15px $border, -20px 0 20px -15px $border;
}

.content h2 {
  margin-top: 40px;
  font-family: 'Playfair Display', serif;
}

.right {
  width: 24%;
  background: rgba($sidebar, 0);
}

.left {
  width: 20%;
  background: $sidebar;
}

.row {
  padding: 40px 100px;
}

.nav {
  display: inline;
  margin-top: 30px;
}

.nav ul {
  margin-left: 10px;
  padding: 0;
}

.nav ul li {
  padding-left: 40px;
  position: relative;
  list-style: none;
  overflow: hidden;
  height: 40px;
  border: solid $border;
  border-width: 0 0 1px 0;
  font-size: 12px;
  line-height: 40px;
  font-weight: bold;
}

.home {
  font-family: 'Playfair Display', serif;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  border: solid $border;
  border-width: 0 0 1px 0;
  background: #fff;
  margin: 0;
}

.highlight_text {
  display: inline-block;
  font-size: 12px;
  // height: 30px;
  padding: 5px 30px;
  background: #f1f3f4;
  color: #989fb2;
  border-radius: 30px;
  font-weight: bold;
  a {
    color: #989fb2;
  }
}

.alert-success {
  background: #cdffcf;
}

.alert-danger {
  background: #ffb4b4;
}

.button {
  border: 0 none;
  border-radius: 36px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 12px 45px;
  transition: all 100ms ease-in-out;
  background: #989fb2;
  &:hover {
    opacity: 0.7;
  }
}

.pagination {
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  background: #f1f3f4;
  color: #989fb2;
  border-radius: 30px;
  font-weight: bold;
  a {
    color: #989fb2;
  }
}
.article {
  padding-bottom: 20px;
  border: solid $border;
  border-width: 0 0 1px 0;
}
input[type="text"],
textarea {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 2px;
  color: #555;
  background-color: #fff;
  width: 100%;
  height: 20px;
  padding: 4px 6px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}
input[type=submit] {
  @extend .button;
}
textarea {
  height: 250px;
}

input[type="email"], input[type="password"] {
  @extend textarea;
  width: 60%;
  height: 20px;
}

.search-container{
  width:100%;
  margin-top: 20px;
}
.search{float:left; width:80%;}
.user{float:right; width:20%;}


#search {
  border: none;
  border-bottom: solid 2px $border;
  width: 85%;
  margin: 10px;
  padding: 10px;
  border-radius: 0;
  background-color: transparent;
}
#search:focus {
  outline: none;
}

.user-menu-wrap {
  margin: 20px;
}

.mini-photo-wrapper {
  display: block;
  color: gray;
}

.menu-container {
  visibility: hidden;
  opacity: 0;

  ul {
    list-style: none;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
  }
}

.user-menu {
  position: relative;
  right: 154px;
  background-color: #fff;
  width: 200px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.15);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;

  .user-info {
    display: block;
    text-decoration: none;
    color: #444;
    font-size: 14px;
    padding: 5px 10px;
    // font-style: italic;
  }

  .user-menu-link {
    display: block;
    text-decoration: none;
    color: #444;
    font-size: 14px;
    padding: 5px 10px;

    &:hover {
      background-color: #4183c4;
      color: #fff;
    }
  }

  &:before {
    position: absolute;
    top: -16px;
    left: 157px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,0.15);
  }

  &:after {
    position: absolute;
    top: -14px;
    left: 158px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }
}

.new-article-link {
  float: right;
  margin: 30px 50px 30px 30px;
  color: gray;
}

img {
    max-width: 100%;
    max-height: 100%;
}
