<h2>User Dashboard</h2>

<% if can? :manage, @users %>

  <%= link_to 'New User', new_admin_user_path, class: "button" %>

  <h4>Users List:</h4>
  <% for user in @users %>
    <p>
      <% if user.has_role? :user %>
        User
      <% end %>
      <% if user.has_role? :admin %>
        Admin
      <% end %>
      <%= user.email %>
      <%= link_to "Edit User", edit_admin_user_path(user), class: "button" %>
      <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
    </p>
  <% end %>
<% else %>
  <p>Hello, you are not an Admin</p>
<% end %>
